# <font color="red"> Data Acqisition (External) </font>

A data analyst or data scientist doesn’t always get data handed to them in a CSV or via an easily accessible database. Sometimes, you’ve got to go out and get the data you need. The ability to collect unique data sets can really set you apart from the pack, and being able to access APIs and scrape the web for new data stories is the best way to get data nobody else is working with.

<font color=red size=7> Data Scientist </font>AHMETKURT #this code's output is below

<font color=red size=7> Data Scientist </font>AHMETKURT

# Web Scraping// web sitesi veri kazıma çalma

In [1]:
import pandas as pd

In [ ]:
#information

In [3]:
pd.read_clipboard()#this code df what you ctrl c from internet. Then you can save it as a file with a different code

                CHINA  4,088,702
0       UNITED STATES  3,098,697
1         PHILIPPINES  2,272,459
2      UNITED KINGDOM  1,208,359
3              BRAZIL  1,021,458
4              RUSSIA    913,640
..                ...        ...
248              NIUE        107
249           TOKELAU        104
250    ST. BARTHÉLEMY        102
251  TRISTAN DA CUNHA         77
252       PSEUDO-BIDI          1

[253 rows x 2 columns]

In [8]:
import requests #connects to websites and scraping data
from bs4 import BeautifulSoup #recognizes what html code is
import pandas as pd

In [39]:
url = "https://www.arabam.com/"
response = requests.get(url)

In [40]:
response.text

'too many request!'

In [41]:
soup=BeautifulSoup(response.text, "html.parser")

In [42]:
soup.beautify

In [43]:
container=soup.findAll("div",{"class":"showcase row"})

In [44]:
fiyat=soup.findAll("div",{"class":"price"})
sehir=soup.findAll("p",{"class":"model-city"})
yıl=soup.findAll("p",{"class":"model-year"})
model=soup.findAll("h4",{"class":"model-name"})

In [45]:
f=[]
s=[]
y=[]
m=[]
columns=["model","sehir","yıl","fiyat"]
for (m1,s1,y1,f1) in zip(model,sehir,yıl,fiyat):
    m.append(m1.text)
    s.append(s1.text)
    y.append(y1.text)
    f.append(f1.text)

In [46]:
d={'Model':m,'Sehir':s,'yil':y,'fiyat':f}#I wrote them because there are model, city, price and year on the site.
pd.DataFrame(d)

Empty DataFrame
Columns: [Model, Sehir, yil, fiyat]
Index: []